<section data-ng-controller="PostsController as postsCtrl">
    <!--Forum Main Cover -->

      <div class="jumbotron">
          <h1>Share Your Cashew Ideas</h1>
          <p>Share your story, interest, and ideas.</p>
      </div>
      <!-- breadcrumb -->
      <div class='row'>
        <div class= 'col-md-7'>
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a ng-click="backToForumHome()"href="#">Forum</a></li>
            <li class="active">{{category.title}}</li>
          </ol>
        </div>
      <!--newPost/search-->
        <div class = 'col-md-5'  ng-hide="hideSearchBar" id= "search-bar">
            <form class="navbar-form navbar-left" id="searchForm" role="search">
              <div class="form-group">
                <ul>
                  <ii><input ng-model="query" type="text" class="form-control" placeholder="Search"></ii>
                  <li><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="ture"></button></ii>
                </ul>              
              </div>
            </form>
        </div>
      </div>
      
      <!--forum-guide-->
	  <div class="forum-guide">
	          <h2>{{category.title}}</h2>
	          <p>{{category.snippet}}</p>
	  </div>
<!--Forum Main Cover-->

<!--Board Board-->
	<div id="forum-board" ng-hide="hideForumBoard">
		<ul>
			    <div class="row">
			    	<li ng-repeat="category in categories |limitTo:-(categories.length-1)">
			    		<div class="col-md-4">
			      			<a ng-click="selectCategory(category)" >{{category.title}}</a>
			      			<p>{{category.snippet}}</p>
			      		</div>
			    	</li>
			    </div>
		</ul>
    </div> 
<!--Forum Board-->

<!-- list-post.client.view -->
<list-posts-client-view ng-hide="hideListPostClientView"></list-posts-client-view>

<!-- list-post.client.view -->

</section>