<section data-ng-controller="PostsController as postsCtrl">
    <!--Forum Main Cover -->

      <div class="jumbotron">
          <h1>Share Your Cashew Ideas</h1>
          <p>Share your story, interest, and ideas.</p>
      </div>
      <!-- breadcrumb -->
      <div class='row'>
        <div class= 'col-md-7'>
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a ng-click="reloadRoute()">Cashew Forum</a></li>
            <li class="active">{{selectedCategory}}</li>
          </ol>
        </div>
      </div>
      
    
<!--Forum Main Cover-->

<!--Board Board-->
	<div id="forum-board" ng-hide="false">
		<ul>
			    <div class="row">
			    	<li ng-repeat="category in categories">
			    		<div class="col-md-4">
			      			<a ng-click="selectCategory(category); selectTopic(defaultTopic)">{{category.title}}</a>
			      			<p>{{category.snippet}}</pZ>
			      		</div>
			    	</li>
			    </div>
		</ul>
    </div> 
<!--Forum Board-->
  <!--forum-guide-->
	  <div class="forum-guide">
	          <h2>{{forumGuideTitle}}</h2>
	          <p>{{forumGuideSnippet}}</p>
	  </div>

<!-- list-post.client.view 
<list-posts-client-view ng-hide="hideListPostClientView"></list-posts-client-view>
-->
<list-posts-client-view ng-hide="false"></list-posts-client-view>

<!-- list-post.client.view -->

</section>