<section data-ng-controller="PostsController as postsCtrl">
    <!--Forum Main Cover -->

      <div class="jumbotron">
          
          <h1>Share Your Cashew Ideas</h1>
          <p>Share your story, interest, and ideas.</p>
          
      </div>
      <!-- breadcrumb -->
      <div class='row'>
        <div class= 'col-md-7'>
          <ol class="breadcrumb" id="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href ng-click="reloadRoute()">Cashew Forum</a></li>
            <li class="active">{{selectedCategory}}</li>
          </ol>
        </div>
      </div>
      
    
<!--Forum Main Cover-->
<br>

<!--Board Board-->
<div class="well">
  <h3 style='padding-left: 35%; margin-top:10px;'>Forum Categories</h3>
	<div id="forum-board" ng-hide="false">
			    <div class="list-group">
            <a href="#" class="list-group-item list-group-item-warning" ng-repeat="category in categories" href="#"  ng-click="selectCategory(category); selectTopic('all')" >
                <h4 class="list-group-item-head">{{category.title}}</h4>
                <p class="list-group-item-text">{{category.snippet}}</p>    
            </a>
           
          </div>

    </div> 
</div><!--well-->
  <hr>
<!--Forum Board-->
  <!--forum-guide-->
	  <div class="page-header">
	          <h2>{{forumGuideTitle}}
	          <small>{{forumGuideSnippet}}</small></h2>
	  </div>

<!-- list-post.client.view 
<list-posts-client-view ng-hide="hideListPostClientView"></list-posts-client-view>
-->
<list-posts-client-view ng-hide="hideListPostClientView"></list-posts-client-view>

<!-- list-post.client.view -->

</section>