<!--Comments List-->
<div class="list-group">
    <div class ="row" ng-repeat="comment in comments">
        <div class="col-md-8">
           <div class="comments-list">
                <div class="media">
                    <p class="pull-right"><small>5 days ago</small></p>
                    <div class="media-left" id="userPhoto">
                      <img src="http://www.peanut.com/media/catalog/product/cache/1/small_image/250x/8222f1cea6aad972bbfa3d2e81cdd009/r/o/roasted-cashews-whole-cashews-individual_1.jpg">
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading user_name">{{comment.postBy}}</h4>
                         {{comment.content}}
                      <!--<p><small><a href="">Like</a>{{comment.likes}}</small></p>-->
                      
                            <div class="edit-and-delete-btns">
                        	    <button class="btn btn-primary" ng-click="postsCtrl.modalUpdate('md', post)" class='list-group-item' ng-disabled ="notAuthorized">
                                    <span><i class="glyphicon glyphicon-edit"></i></span>Edit</button> 
                                <button class="btn btn-danger" ng-click="postsCtrl.remove(post)" class='list-group-item' >
                                    <span><i class="glyphicon glyphicon-trash"></i></span></button>                   
                            </div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>