<section data-ng-controller="PostsCreateController as postCtrl">
     <div class="modal-header">
            <h3 class="modal-title">New Post</h3>
        </div>
        <div class="modal-body">
                <form name="createPostForm">
                    <fieldset>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                             <label for="name">postBy</label>
                             <input type="text" data-ng-model="postCtrl.postBy" id="postBy" class="form-control" rows="3" required></textarea>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="title">Title</label>
                            <div class="controls">
                                <input type="text" data-ng-model="postCtrl.title" id="title" class="form-control" required>
                            </div>
                        </div>   
                    </div>
                    <!--<div class="col-sm-6">
                        
                        <div class="form-group">
                            <label class="control-label" for="topic">Topic</label>
                                <select data-ng-model="postCtrl.topic" id="topic" required>
                                                     <!--<option ng-repeat="topic in currentCategory.topics" value="topic['name']">{{topic['name']}}</a>
                                                     <option value="test topic">test topic</a>
                                </select>
                                <select data-ng-model="postCtrl.category" id="category" required>
                                                <li>
                                                     <!--<option ng-repeat="topic in currentCategory.topics" value="topic['name']">{{topic['name']}}</a>
                                                     <option value="test category">test category</a>
                                                </li>
                                </select>
                                
                                
                                        <!--    <div class="btn-group" ng-model='newPost.postTopic'>
                                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action <span class="caret"></span>
                                              </button>
                                              <ul class="dropdown-menu">
                                                 <li ng-repeat="topic in currentCategory.topics" value="topic['name']">{{topic['name']}}</li></a>
                                              </ul>
                                            </div>
                                      
                                        
                        </div>
                    </div> --> 
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                             <label for="name">Content</label>
                             <textarea data-ng-model="postCtrl.content" id="content" class="form-control" rows="3" required></textarea>
                        </div>
                    </div>
                    
                </div>
               
                <div class="row">
                     <div class="form-group">
                        <div data-ng-show="error" class="text-center text-danger">
                            <div clas-"alert alert-danger" role="alert">
        					    <strong data-ng-bind="error"></strong>
        					</div>
        				</div>
                    </div>
                </div>
                
                
              </fieldset> 
                </form>
            </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="postCtrl.create(); ok()" ng-disabled="createPostForm.$invalid">Save & Close</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
		
</section>





