<section data-ng-controller="PostsCreateController as postCtrl">
     <div class="modal-header">
            <h3 class="modal-title">New Post</h3>
        </div>
        <div class="modal-body">
                <form name="createPostForm">
                    <fieldset>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="title">Title</label>
                            <div class="controls">
                                <input type="text" data-ng-model="postCtrl.title" id="title" class="form-control" required>
                            </div>
                        </div>   
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="category">Category</label>
                                <div class-"controls">
                                    <select data-ng-model="postCtrl.category" id="category" class="form-control" required>
                                        <option ng-repeat="category in categories">{{category.title}}</option>     
                                    </select>
                                </div>
                            <label class="control-label" for="topic">Topic</label>
                                <div class-"controls">
                                    <select data-ng-model="postCtrl.topic"  id="category" class="form-control" required>
                                        <option ng-repeat="topic in selectedCategory.topics">{{topic['name']}}</option>     
                                    </select>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                             <label for="name">Content</label>
                             <textarea data-ng-model="postCtrl.content" id="content" class="form-control" rows="3" required></textarea>
                        </div>
                    </div>
                    
                </div>
               
                <div class="row">
                     <div class="form-group">
                        <div data-ng-show="error" class="text-center text-danger">
                            <div clas-"alert alert-danger" role="alert">
        					    <strong data-ng-bind="error"></strong>
        					</div>
        				</div>
                    </div>
                </div>
                
                
              </fieldset> 
                </form>
            </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="postCtrl.create(); ok()" ng-disabled="createPostForm.$invalid">Save & Close</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
		
</section>





