<section data-ng-controller="PostsUpdateController as postUpCtrl">
     <div class="modal-header">
            <h3 class="modal-title">Update Post Title: {{post.title}}</h3>
        </div>
        <div class="modal-body">
                <form name="updatePostForm">
                    <fieldset>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                             <label for="name">postBy</label>
                             <textarea data-ng-model="post.postBy" id="postBy" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="title">Title</label>
                            <div class="controls">
                                <input type="text" data-ng-model="post.title" id="title" class="form-control" required>
                            </div>
                        </div>   
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="category">Category</label>
                                <div class-"controls">
                                    <select data-ng-model="post.category" id="category" class="form-control" required>
                                        <option ng-repeat="category in categories">{{category.title}}</option>     
                                    </select>
                                </div>
                            <label class="control-label" for="topic">Topic</label>
                                <div class-"controls">
                                    <select data-ng-model="post.topic"  id="category" class="form-control" required>
                                        <option ng-repeat="topic in category.topics">{{topic['name']}}</option>     
                                    </select>
                                </div>
                                
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                             <label for="name">Content</label>
                             <textarea data-ng-model="post.content" id="content" class="form-control" rows="3" required></textarea>
                        </div>
                    </div>
                    
                </div>
              
                <div class="row">
                     <div class="form-group">
                        <div data-ng-show="error" class="text-center text-danger">
                            <div clas-"alert alert-danger" role="alert">
        					    <strong data-ng-bind="error"></strong>
        					</div>
        				</div>
                    </div>
                </div>
                
                
               </fieldset> 
                </form>
            </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="postUpCtrl.update(post); ok()" ng-disabled="updatePostForm.$invalid">Update & Close</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
		
</section>



 