<section data-ng-controller="PostsController as postsCtrl">
	<h1>asdfasfd</h1>
	<h1>asdfasfd</h1>
	<h1>asdfasfd</h1>


        <div class="category-nav">
            <ul class="nav nav-tabs" role="tablist">
              <!--<li ng-repeat="topic in currentCategory.topics" role="presentation" class="active"><a href="">{{topic['name']}}<span class="badge">42</span></a></li>
              -->
            </ul>
        </div>


       
        <!--post-nav-bar-->
        <div post-nav-bar="">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                   
                      
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      
                      <a class="navbar-brand" href="#">Recent Posts</a>
                    </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
                    <ul class="nav navbar-nav navbar-right">
                        
                            <select class="selectpicker" ng-model ='orderProp'>
                                 <option value="-numLikes">Popular</a></li>
                                 <option value="-postDate">Newest</a></li>
                                 <option value="postDate">Oldest</a></li>
                            </select>
                    
                    </ul>
                    <form class="navbar-form navbar-right" role="search">
                    
                      <div class="form-group">
                        <button ng-click="postsCtrl.modalCreate('md')"  class="btn btn-warning"><span class="glyphicon glyphicon-pencil" aria-hidden="ture"></span> New Post</button>
                        
                      </div>
                       <div class="input-group">
                          <input type="text" class="form-control" ng-model="searchText" placeholder="Search">
                          <span class="input-group-btn">
                          <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                          </span>
                        </div><!-- /input-group -->
                    </form>
                   
                </div>
            </nav>
        </div>
        
       <post-list></post-list> 
        
  
       
        
        <!--Pagination-->
   <nav align="center">
          <ul class="pagination">
            <li class="disabled"><a href="" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
            <li class="active"><a href="">1 <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="">2 <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="">3 <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="">4 <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="">5 <span class="sr-only">(current)</span></a></li>
            <li class="disabled"><a href="" aria-label="Next"><span aria-hidden="true">»</span></a></li>
          </ul>
    </nav>
</section>