<section data-ng-controller="PostsController as postsCtrl">
	<h1>asdfasfd</h1>
	<h1>asdfasfd</h1>
	<h1>asdfasfd</h1>


        <div class="category-nav">
            <ul class="nav nav-tabs" role="tablist">
              <!--<li ng-repeat="topic in currentCategory.topics" role="presentation" class="active"><a href="">{{topic['name']}}<span class="badge">42</span></a></li>
              -->
            </ul>
        </div>


       
        <!--post-nav-bar-->
        <div post-nav-bar="">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                   
                      
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      
                      <a class="navbar-brand" href="#">Recent Posts</a>
                    </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
                    <ul class="nav navbar-nav navbar-right">
                        
                            <select class="selectpicker" ng-model ='orderProp'>
                                 <option value="-numLikes">Popular</a></li>
                                 <option value="-postDate">Newest</a></li>
                                 <option value="postDate">Oldest</a></li>
                            </select>
                    
                    </ul>
                    <form class="navbar-form navbar-right" role="search">
                    
                      <div class="form-group">
                        <button ng-click="postsCtrl.modalCreate('md')"  class="btn btn-warning"><span class="glyphicon glyphicon-pencil" aria-hidden="ture"></span> New Post</button>
                        
                      </div>
                       <div class="input-group">
                          <input type="text" class="form-control" ng-model="searchText" placeholder="Search">
                          <span class="input-group-btn">
                          <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                          </span>
                        </div><!-- /input-group -->
                    </form>
                   
                </div>
            </nav>
        </div>
        
        
        
        <!-- posts -->
        
         
    <div class="list-group">
        <div class ="row" ng-repeat="post in postsCtrl.posts | filter:searchText">
        	
                <div class="well">
                    <div class="media">
                            <!--<a data-ng-href="#!/{{post._id}}" class='list-group-item'>-->
                                
                            <img class="media-object pull-left" src="http://www.peanut.com/media/catalog/product/cache/1/small_image/250x/8222f1cea6aad972bbfa3d2e81cdd009/r/o/roasted-cashews-whole-cashews-individual_1.jpg">
                                        <h4 class="media-heading"><span ng-bind="post.title"></span></h4>
                                        <p class="text-right">By <span ng-bind="post.postBy"></span></p>
                                        <span ng-bind="post.content"></span>
                                        <ul class="list-inline list-unstyled text-muted">
                                            <li><span><i class="glyphicon glyphicon-calendar"></i></span>{{post.updated | date: "h:mma 'on' MMM d, y"}}</li>
                                            <li>  </li>
                                            <span><i class="glyphicon glyphicon-comment"></i></span><li>{{post.comments}} comments</li>
                                            <li>  </li>
                                            <span><i class="glyphicon glyphicon-thumbs-up"></i></span><li>{{post.likes}} likes</li>
                                           
                                            <li id="editBtn">
                                              
                                            </li>
                                            
                                        </ul>
                                       
                            </a>
                         	  <button class="btn btn-primary" ng-click="postsCtrl.modalUpdate('md', post)" class='list-group-item pull-right' >
                                            <span><i class="glyphicon glyphicon-edit"></i></span>Edit</button> 
                              <button class="btn btn-danger" ng-click="postsCtrl.remove(post)" class='list-group-item pull-right' >
                                            <span><i class="glyphicon glyphicon-trash"></i></span></button>                   
                    </div><!--media-->
                </div><!--well-->
    </div><!--row-->


</div><!--list-group-->
<div class="alert alert-warning text-center" data-ng-hide="!posts.$resolved || posts.length">
        No Posts yet, why don't you <a href="/#!/posts/create">create one</a>?
</div>        
       
        
        <!--Pagination-->
   <nav align="center">
          <ul class="pagination">
            <li class="disabled"><a href="" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
            <li class="active"><a href="">1 <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="">2 <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="">3 <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="">4 <span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="">5 <span class="sr-only">(current)</span></a></li>
            <li class="disabled"><a href="" aria-label="Next"><span aria-hidden="true">»</span></a></li>
          </ul>
    </nav>
</section>