
  <div class="myCarousel">
    <carousel interval="myInterval" no-wrap="noWrapSlides">
      <slide ng-repeat="post in postsCtrl.posts | filter: {category:selectedCategory} | filter: {topic: selectedTopic} | orderBy: '-created' | limitTo:4" active="post.active">
        
        <img ng-src="{{images[$index].url}}" style="margin:auto; height:340px">
    
        <div class="carousel-caption">
          <h2>{{post.title}}</h2>
          <p>by {{post.postBy}}</p>
          <a ng-href="#!/posts/{{post._id}}"><button class="btn btn-warning">View Post</button>
        </div>
      </slide>
    </carousel>
  </div>
  <br>
  <!-- carousel control
  <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-info" ng-click="addSlide()">Add Slide</button>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="noWrapSlides">
          Disable Slide Looping
        </label>
      </div>
    </div>
    <div class="col-md-6">
      Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
      <br />Enter a negative number or 0 to stop the interval.
    </div>
  </div>
-->
  
        <tabset>
            <tab heading="All Posts" ng-click="selectTopic('all')" ></tab>
            <tab ng-repeat="topic in topics | filter: {group: selectedCategory}" ng-click="selectTopic(topic)" heading="{{topic.label}}" active="topic.active" disable="topic.disabled">
            </tab>
        </tabset>

        <!--post-nav-bar-->
        <div post-nav-bar="">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                   
                      
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      
                      <a class="navbar-brand">Recent Posts</a>
                    </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
                        
                    
                    <div class="navbar-form navbar-right" role="order">
                        <div class="dropdown">
                              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Order By
                                <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#" ng-click="sortBy('-created')">Newest</a></li>
                                <li><a href="#" ng-click="sortBy('created')">Oldest</a></li>
                              </ul>
                        </div>
                    </div>
                    
                    <div class="navbar-form navbar-right" role="search">
                    
                      
                        <button ng-click="postsCtrl.modalCreate('md')"  class="btn btn-warning"><span class="glyphicon glyphicon-pencil" aria-hidden="ture"></span> New Post</button>
                    
                      
                       <div class="input-group">
                          <input type="text" class="form-control" ng-model="searchText" placeholder="Search &#128270">
                          <span class="input-group-btn">
                          </span>
                        </div><!-- /input-group -->
                        
                    </div>
                    
                    
                    
                   
                </div>
            </nav>
        </div>
        
       <post-list></post-list> 
        
<dir-pagination-controls></dir-pagination-controls>
       


