        <!-- posts list-->
        
         
    <div class="list-group">
        <div class ="row" ng-repeat="post in postsCtrl.posts| filter: topic | filter: searchText">
        	
                <div class="well">
                    <div class="media">
                            <a ng-href="#!/posts/{{post._id}}" class='list-group-item'>
                                
                            <img class="media-object pull-left" src="http://www.peanut.com/media/catalog/product/cache/1/small_image/250x/8222f1cea6aad972bbfa3d2e81cdd009/r/o/roasted-cashews-whole-cashews-individual_1.jpg">
                                        <h4 class="media-heading"><span ng-bind="post.title"></span></h4>
                                        <p class="text-right">By <span ng-bind="post.postBy"></span></p>
                                        <p><span ng-bind="post.content"></span></p>
                                        <ul class="list-inline list-unstyled text-muted">
                                            <li><span><i class="glyphicon glyphicon-calendar"></i></span>{{post.updated | date: "h:mma 'on' MMM d, y"}}</li>
                                            <li>  </li>
                                            <span><i class="glyphicon glyphicon-comment"></i></span><li>{{post.comments}} comments</li>
                                            <li>  </li>
                                            <span><i class="glyphicon glyphicon-thumbs-up"></i></span><li>{{post.likes}} likes</li>
                                           
                                            <li id="editBtn">
                                              
                                            </li>
                                            
                                        </ul>
                                       
                            </a>
                    </div><!--media-->
                </div><!--well-->
    </div><!--row-->


</div><!--list-group-->
<div class="alert alert-warning text-center" data-ng-hide="!posts.$resolved || posts.length">
        No Posts yet, why don't you <a href="/#!/posts/create">create one</a>?
</div>      