<section data-ng-controller="PostsController as postsCtrl" data-ng-init="findOne()">
<head>
    <link rel="stylesheet" type="text/css" href="modules/posts/css/posts.css">
    <link rel="stylesheet" type="text/css" href="modules/posts/css/comments.css">
    
</head>
<!--single-post.html-->
<h1></h1>
<h1></h1>
        <div class="row">
            <!-- Blog Post Content Column -->
            <div class="col-lg-8">
                <nav>
                    <ul class="pager">
                        <li class="back-to-list-btn"><a href ng-click='$back()'><span aria-hidden="true">&larr;</span>Back to List</a></li>
                        <li class="next-btn"><a href="single-post-view.html">Next<span aria-hidden="true">&rarr;</span></a></li>
                    </ul>
                </nav>
                <!-- Blog Post -->

                <!-- Title -->
                <h1>{{post.title}}</h1>

                <!-- Author -->
                <p class="lead">
                    by {{post.postBy}} 
                </p>

                <hr>

                <!-- Date/Time -->
                <p>
                    <span class="glyphicon glyphicon-time"></span> {{post.updated | date: "h:mma 'on' MMM d, y"}}

                </p>
                <hr>

                <!-- Preview Image -->
                <!--
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">

                <hr>
				
                <!-- Post Content -->
                <p class="lead">
                	{{post.content}}
                </p>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <div class="like">
                            <span><a ng-click="">Like  <i class="glyphicon glyphicon-thumbs-up"></i></a>        {{post.likes}} likes</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="edit-and-delete-btns">
                    	    <button class="btn btn-primary" ng-click="postsCtrl.modalUpdate('md', post)" class='list-group-item' >
                                <span><i class="glyphicon glyphicon-edit"></i></span>Edit</button> 
                            <button class="btn btn-danger" ng-click="postsCtrl.remove(post)" class='list-group-item' >
                                <span><i class="glyphicon glyphicon-trash"></i></span></button>                   
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
                
    
        	<div class="row">
        	    <div class="comment-header">
                    <h1><small class="pull-right">{{post.comments}} comments</small></h1>
                    <h1> Comments </h1>
                </div> 
        	</div>
        	

                <!-- Comments Form -->
                <div class="well">
                    <h4>Leave a Comment:</h4>
                    <form role="form">
                        <div class="form-group">
                            
                            <textarea class="form-control" rows="3"></textarea>
                            <br>
                            <div class="comment-submit-btn">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                            </br>
                        </div>
                    </form>
                </div>
<comment-list></comment-list>
        
        
        
        
    
        

</section>
